.monaco-editor .margin-view-overlays .folding,
.monaco-editor .margin-view-overlays .folding {
  background-image: url('file:///Users/jerrypedersen/.vscode/arrow-down.svg');
  margin-left: 2px;
  top: 5px;
  height: 12px;
}

.monaco-editor .margin-view-overlays .folding.collapsed,
.monaco-editor .margin-view-overlays .folding.collapsed {
  background-image: url('file:///Users/jerrypedersen/.vscode/arrow-up.svg');
  margin-left: 2px;
  top: 5px;
  height: 12px;
}

/* #region Gutter */
.monaco-editor .margin-view-overlays .line-numbers {
  position: absolute;
  color: #9f9f9f !important;
  font-size: 12px;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: default;
  height: 100%;
  margin-left: 8px;
  line-height: 1.9;
}

.monaco-editor .margin-view-overlays .current-line ~ .line-numbers {
  color: #c6c6c6 !important;
}

.monaco-editor .margin-view-overlays .current-line-margin {
  border-top: 1px solid #595959;
  border-bottom: 1px solid #595959;
  color: #c6c6c6 !important;
}
/* #endregion */

.margin {
  border-right: 1px solid #525252;
  margin-right: 8px;
}

/* #region FOLDER FOLDING  */
.monaco-tl-twistie.collapsible {
  background-image: url('file:///Users/jerrypedersen/.vscode/explorer-arrow-down.svg') !important;
  background-size: 8px;
  background-position: center;
}

.monaco-tl-twistie.collapsible.collapsed {
  background-image: url('file:///Users/jerrypedersen/.vscode/explorer-arrow-right.svg') !important;
  background-size: 8px;
  background-position: center;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab
  .tab-label,
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .title-label {
  display: flex;
  justify-content: center;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.close-button-left {
  padding-right: 28px !important;
  max-width: 236px;
  flex: 1;
}

/* #region Make panelbar 25px */
/* .monaco-workbench .part>.title
{
  height: 25px !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container {
  height: 25px !important;
}

 .monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab {
  height: 25px !important;
}  */

/* #endregion */

/* #region Make tabs border top */
.tabs-container .tab {
  border-top: 1px solid #a3a3a3;
}

.tabs-container .tab.active {
  border-top: 1px solid #d9d9d9;
}

/* #endregion */

/* #region Change color panelbar */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title.tabs
  > .tabs-and-actions-container {
  background-color: #bbbbbb !important;
}

.monaco-workbench .part > .composite.title {
  background-color: #bbbbbb;
  color: #bbbbbb;
}

/* #endregion */

.margin ~ .monaco-scrollable-element.editor-scrollable {
  left: 59px !important;
  width: calc(100% - 59px) !important;
}

.monaco-tl-indent {
  visibility: hidden;
}

/* #region Make panelbar width 100vw */
.monaco-workbench .part > .content {
  overflow: visible !important;
}

.monaco-grid-view {
  overflow: visible !important;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title.tabs
  > .tabs-and-actions-container
  > .monaco-scrollable-element {
  z-index: 10;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .editor-actions {
  border-top: 1px solid #a3a3a3;
  box-sizing: border-box;
  z-index: 10;
}
.monaco-workbench .part.editor > .content .editor-group-container > .title {
  width: 100vw;
}

.tabs-container {
  overflow: visible !important;
  border-top: 1px solid #a3a3a3;
  box-sizing: border-box;
}

.tabs-container .tab {
  top: -1px;
  z-index: 1000;
}

/* #endregion */

.titlebar {
  /* background-image: linear-gradient(to bottom, #ededed, #d3d3d3) !important; */
  background-image: linear-gradient(to bottom, #e6e5e5, #dad9da) !important;
}




.titlebar .window-title {
  font-weight: 400;
  font-size: 13px !important;
}

.editor-actions {
  display: none;
}

.tabs-container {
  height: 26px !important;
}

.tabs-container .tab {
  height: 26px !important;
}

.composite.title {
  border-top: 1px solid #a3a3a3;
  height: 26px !important;
}

.overflow-guard {
  height: calc(100% + 9px) !important;
}

/* .sidebar .split-view-view {
  height: calc(100% - 13px) !important;
} */

.title-actions {
  position: absolute !important;
  top: 26px;
  right: 0;
  z-index: 1000000000000;
}

.title-label {
  display: none;
}

.sidebar .content,
.sidebar .split-view-view {
  box-sizing: border-box;
  /* border-top: 1px solid #ececec; */
  height: auto !important;
}

.statusbar {
  background-image: linear-gradient(to bottom, #ededed, #d3d3d3) !important;
  border-top: 1px solid #d7d7d7;
}

.tabs-and-actions-container .monaco-scrollable-element {
  height: 26px !important;
}

.panel-body {
  min-height: 100vh;
}

.tab {
  background-image: linear-gradient(to bottom, #c3c2c3, #b5b5b5) !important;
}

.tabs-and-actions-container {
  background-image: linear-gradient(to bottom, #c3c2c3, #b5b5b5) !important;
}

.tab.active {
  background-image: linear-gradient(to bottom, #dad9da, #cacaca) !important;
} 

/* Remove Custom CSS Logo */
.__CUSTOM_CSS_JS_INDICATOR_CLS {
  display: none;
}