.monaco-editor.hc-black .margin-view-overlays .folding,
.monaco-editor.vs-dark .margin-view-overlays .folding {
  background-image: url("file:///Users/xeronic/.vsCode/arrow-down.svg");
  margin-left: 2px;
  top: 6px;
  height: 10px;
}

.monaco-editor.hc-black .margin-view-overlays .folding.collapsed,
.monaco-editor.vs-dark .margin-view-overlays .folding.collapsed {
  background-image: url("file:///Users/xeronic/.vsCode/arrow-up.svg");
  margin-left: 2px;
  top: 6px;
  height: 10px;
}

/* #region Gutter */
.monaco-editor .margin-view-overlays .line-numbers {
  position: absolute;
  font-size: 12px;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: default;
  height: 100%;
  margin-left: 8px;
  line-height: 1.9;
}

.monaco-editor .margin-view-overlays .current-line-margin {
  border-top: 1px solid #595959;
  border-bottom: 1px solid #595959;
}
/* #endregion */

.margin {
  border-right: 1px solid #525252;
  margin-right: 8px;
}

/* #region FOLDER FOLDING  */
.monaco-tl-twistie.collapsible {
  background-image: url("file:///Users/xeronic/.vsCode/arrow-down.svg") !important;
  background-size: 8px;
  background-position: center;
}

.monaco-tl-twistie.collapsible.collapsed {
  background-image: url("file:///Users/xeronic/.vsCode/arrow-right.svg") !important;
  background-size: 8px;
  background-position: center;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab
  .tab-label,
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .title-label {
  display: flex;
  justify-content: center;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.close-button-left {
  padding-right: 28px !important;
  max-width: 236px;
  flex: 1;
}

/* #region Hide X on focused tab  */
/* .tabs-container .action-label.icon.close-editor-action {
  opacity: 0 !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab:hover .close-editor-action {
  opacity: 1 !important;
} */
/* #endregion */

/* #region Make panelbar 25px */
/* .monaco-workbench .part>.title
{
  height: 25px !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container {
  height: 25px !important;
}

 .monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab {
  height: 25px !important;
}  */

/* #endregion */

/* #region Make tabs border top */
.tabs-container .tab {
  border-top: 1px solid #b0b0b0;
}

.tabs-container .tab.active {
  border-top: 1px solid #d3d3d3;
}

/* #endregion */

/* #region Change color panelbar */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title.tabs
  > .tabs-and-actions-container {
  background-color: #c4c4c4 !important;
}

.monaco-workbench .part > .composite.title {
  background-color: #c4c4c4;
  color: #c4c4c4;
}

/* #endregion */

.margin ~ .monaco-scrollable-element.editor-scrollable {
  left: 59px !important;
  width: calc(100% - 59px) !important;
}

.monaco-tl-indent {
  visibility: hidden;
}

/* #region Make panelbar width 100vw */
.monaco-workbench .part > .content {
  overflow: visible !important;
}

.monaco-grid-view {
  overflow: visible !important;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title.tabs
  > .tabs-and-actions-container
  > .monaco-scrollable-element {
  z-index: 10;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .editor-actions {
  border-top: 1px solid #b0b0b0;
  box-sizing: border-box;
  z-index: 10;
}
.monaco-workbench .part.editor > .content .editor-group-container > .title {
  width: 100vw;
}

.tabs-container {
  overflow: visible !important;
  border-top: 1px solid #b0b0b0;
  box-sizing: border-box;
}

.tabs-container .tab {
  top: -1px;
  z-index: 1000;
}

/* #endregion */

.titlebar {
  background-image: linear-gradient(to bottom, #ededed, #d3d3d3) !important;
}